<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 헤더</title>
    <link data-vue-meta="1" rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap">
    <link rel="stylesheet" href="/css/fix/header68.css">
    <link rel="stylesheet" href="/css/fix/header74.css">
    <link rel="stylesheet" href="/css/fix/header51.css">
    <link rel="stylesheet" href="/css/fix/header76.css">
    <link rel="stylesheet" href="/css/fix/header77.css">
    <link rel="stylesheet" href="/css/fix/header37.css">
</head>
<body>

<header id="app-header" class="global-header hide-border-bottom" data-v-50506024="">
    <div data-v-3a2c0d3c="" data-v-50506024="" class="global-navigation-bar">
        <section data-v-3a2c0d3c="" class="mobile-header d-lg-none d-xl-none">
            <div data-v-3a2c0d3c="" class="col-4 mobile-header-col left vue-portal-target">
                <img class="navMenu"  data-v-3a2c0d3c=""  src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIGQ9Ik00LjUgNmgxNW0tMTUgNmgxNW0tMTUgNmgxNSIgc3Ryb2tlPSIjMkQyRDJEIiBzdHJva2Utd2lkdGg9IjEuNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+CiAgICA8L2c+Cjwvc3ZnPgo=" data-testid="side-nav-menu-icon" alt="네비게이션 메뉴 아이콘" style="cursor: pointer;">
            </div>
            <div data-v-3a2c0d3c="" class="col-4 mobile-header-col center vue-portal-target">
                <a data-v-3a2c0d3c="" href="/?from=logo" class="logo">
                    <img data-v-3a2c0d3c=""  src="https://assets.cdn.soomgo.com/icons/icon-navi-logo.svg" alt="숨고 로고" data-testid="main-logo">
                </a>
            </div>
            <div data-v-3a2c0d3c="" class="col-4 mobile-header-col right vue-portal-target">
                <img data-v-3a2c0d3c="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQgNCkiIHN0cm9rZT0iIzJEMkQyRCIgc3Ryb2tlLXdpZHRoPSIxLjUiPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGN4PSI2LjUiIGN5PSI2LjUiIHI9IjYuNSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Im0xMS41IDExLjUgNSA1Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="검색 아이콘">
                <div data-v-f8be2a20="" data-v-3a2c0d3c="" class="notification-counter notification">
                    <button data-v-f8be2a20="" type="button" class="btn btn-clear btn-none">
                        <img data-v-f8be2a20="" src="https://www.brandi.co.kr/static/22.07.04/images/header/ic-cart.svg" alt="장바구니" class="alarm-image" style="width: 26px;">
                    </button>
                </div>
            </div>

            <div data-v-6c349158="" data-v-3a2c0d3c="">
                <div data-v-6c349158="" data-testid="mobile-usermenu" status="GUEST" class="mobile-usermenu">
                    <div data-v-6c349158="" class="header">
                        <button data-v-6c349158="" class="close-button">
                            <img data-v-6c349158="" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCI+CiAgICA8ZGVmcz4KICAgICAgICA8cGF0aCBpZD0iYSIgZD0iTTkgNy44NjlMMTYuNDM0LjQzNGwxLjEzMiAxLjEzMkwxMC4xMyA5bDcuNDM1IDcuNDM0LTEuMTMyIDEuMTMyTDkgMTAuMTNsLTcuNDM0IDcuNDM1LTEuMTMyLTEuMTMyTDcuODcgOSAuNDM0IDEuNTY2IDEuNTY2LjQzNCA5IDcuODd6Ii8+CiAgICA8L2RlZnM+CiAgICA8dXNlIGZpbGw9IiMzMjMyMzIiIGZpbGwtcnVsZT0ibm9uemVybyIgeGxpbms6aHJlZj0iI2EiLz4KPC9zdmc+Cg==">
                        </button>
                    </div>
                    <div data-v-6c349158="" class="body">
                        <div data-v-6c349158="" data-name="user" class="row">
                            <div data-v-6c349158="" data-name="user-info" role="button" class="col">
                                <h4 data-v-6c349158="">로그인 해주세요</h4>
                                <p data-v-6c349158="" data-testid="login-btn"> 로그인
                                    <span data-v-6c349158="" class="new-feature-badge" style="display: none;"></span>
                                    <img data-v-6c349158="" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgNiAxMCI+CiAgICA8cGF0aCBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzRENEY1NiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9Ii44IiBkPSJNMSAxbDQgNC00IDQiLz4KPC9zdmc+Cg==" alt="arrow" class="angle-icon">
                                </p>
                            </div>
                            <div data-v-6c349158="" data-name="user-profile" class="col-auto"></div>
                        </div>
                        <nav data-v-6c349158="" class="gnb-list">
                            <ul data-v-6c349158="" class="user-menu">
                                <li data-v-6c349158="" class="nav-item">
                                    <a data-v-6c349158=""
                                       href="/pro?entry_point=signup_cta" class="gnb-link">
                                        <span data-v-6c349158="" class="menu-title">고수가입</span>
                                    </a>
                                </li>
                                <li data-v-6c349158="" class="nav-item">
                                    <a data-v-6c349158="" href="/sign-up?from=gnb&amp;entry_point=signup_cta" class="gnb-link">
                                        <span data-v-6c349158="" class="menu-title">회원가입</span>
                                    </a>
                                </li>
                            </ul>
                            <ul data-v-6c349158="" class="service-menu">
                                <li data-v-6c349158="" class="nav-item">
                                    <a data-v-6c349158="" href="/category-home?from=mobile_web_hamburger" class="lnb-link">
                                        <span data-v-6c349158="" class="menu-title">고수매칭</span>
                                    </a>
                                </li>
                                <li data-v-6c349158="" class="nav-item">
                                    <a data-v-6c349158="" href="/search/pro?from=mobile_web_hamburger" class="lnb-link">
                                        <span data-v-6c349158="" class="menu-title">고수찾기</span>
                                    </a>
                                </li>
                                <li data-v-6c349158="" class="nav-item"><a data-v-6c349158=""
                                                                           href="/ip/products?location=mobile_web_hamburger" class="lnb-link"><span
                                        data-v-6c349158="" class="menu-title">마켓</span></a>
                                </li>
                                <li data-v-6c349158="" class="nav-item"><a data-v-6c349158=""
                                                                           href="/community/soomgo-life/?from=mobile_web_hamburger"
                                                                           class="lnb-link"><span data-v-6c349158="" class="menu-title">커뮤니티</span></a>
                                    <!---->
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!---->
            </div>
        </section>
        <section data-v-3a2c0d3c="" class="d-none d-lg-block d-xl-block">
            <div data-v-3a2c0d3c="" class="desktop-header">
                <div data-v-3a2c0d3c="" class="left-section">
                    <div data-v-3a2c0d3c="" class="logo"><a data-v-3a2c0d3c="" href="http://localhost:10001/main/main" class=""><img
                            data-v-3a2c0d3c="" src="https://assets.cdn.soomgo.com/icons/icon-navi-logo.svg"
                            alt="숨고, 숨은고수"></a></div>
                    <nav data-v-3a2c0d3c="">
                        <ul data-v-3a2c0d3c="" class="nav-list">
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item"><a href="http://localhost:10001/market/main" class="gnb-link">
                                <span data-v-3a2c0d3c="">마켓</span></a></li>
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item"><a href="http://localhost:10001/test/program" class="gnb-link">
                                <span data-v-3a2c0d3c="">학교</span></a></li>
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item"><a data-v-3a2c0d3c=""
                                                                                         href="http://localhost:10001/test/jubgging-intro" class="gnb-link"><span
                                    data-v-3a2c0d3c="">줍깅</span></a></li>
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item"><a data-v-3a2c0d3c=""
                                                                                         href="http://localhost:10001/test/recyclingintro" class="gnb-link"><span data-v-3a2c0d3c="">수거</span></a></li>
                            <li data-v-3a2c0d3c="" class="nav-item left-section-item"><a data-v-3a2c0d3c=""
                                                                                         href="http://localhost:10001/community/main" class="gnb-link"><span
                                    data-v-3a2c0d3c="">게시판</span></a></li>
                        </ul>
                    </nav>
                </div>
                <div data-v-3a2c0d3c="" class="center-section">
                    <div data-v-3cfeddf8="" data-v-3a2c0d3c="" class="service-searcher-desktop">
                        <form data-v-3cfeddf8="" class="">
                            <div data-v-3cfeddf8="" role="group" class="input-group">
                                <!---->
                                <div data-v-3cfeddf8="" class="input-group-prepend"><img data-v-3cfeddf8=""
                                                                                         src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQgNCkiIHN0cm9rZT0iI0I1QjVCNSIgc3Ryb2tlLXdpZHRoPSIxLjYiPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGN4PSI2LjUiIGN5PSI2LjUiIHI9IjYuNSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Im0xMS41IDExLjUgNSA1Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K"
                                                                                         alt="검색 아이콘"></div><input data-v-3cfeddf8="" type="text"
                                                                                                                   placeholder="어떤 서비스가 필요하세요?" autocomplete="off" class="form-control"
                                                                                                                   id="__BVID__129">
                                <div data-v-3cfeddf8="" class="input-group-append"><img data-v-3cfeddf8=""
                                                                                        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMgMykiPgogICAgICAgICAgICA8Y2lyY2xlIGZpbGw9IiNDNUM1QzUiIGN4PSI5IiBjeT0iOSIgcj0iOSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2U9IiNGRkYiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im02IDYgNi4wMDUgNi4wMDZNMTIuMDA1IDYgNiAxMi4wMDYiLz4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo="
                                                                                        alt="검색어 삭제 아이콘" style="display: none;"></div>
                                <!---->
                            </div>
                        </form>
                        <!---->
                    </div>
                </div>
                <!-- <div data-v-3a2c0d3c="" class="col-4 mobile-header-col right vue-portal-target">
                    <img data-v-3a2c0d3c="" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDQgNCkiIHN0cm9rZT0iIzJEMkQyRCIgc3Ryb2tlLXdpZHRoPSIxLjUiPgogICAgICAgICAgICA8Y2lyY2xlIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGN4PSI2LjUiIGN5PSI2LjUiIHI9IjYuNSIvPgogICAgICAgICAgICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIGQ9Im0xMS41IDExLjUgNSA1Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K" alt="검색 아이콘">
                    <div data-v-f8be2a20="" data-v-3a2c0d3c="" class="notification-counter notification">
                        <button data-v-f8be2a20="" type="button" class="btn btn-clear btn-none">
                            <img data-v-f8be2a20="" src="https://www.brandi.co.kr/static/22.07.04/images/header/ic-cart.svg" alt="알림" class="alarm-image" style="width: 26px;">
                        </button>
                    </div>
                </div> -->
                <div data-v-3a2c0d3c="" class="right-section">
                    <nav data-v-3a2c0d3c="">
                        <ul data-v-3a2c0d3c="" class="nav-list">
                            <li data-v-3a2c0d3c="" class="nav-item right-section-item"><a data-v-3a2c0d3c=""
                                                                                          href="http://localhost:10001/login/login" class="gnb-link"><span data-v-3a2c0d3c="">로그인</span></a>
                                <!---->
                            </li>
                            <li data-v-3a2c0d3c="" class="nav-item right-section-item"><a data-v-3a2c0d3c=""
                                                                                          href="http://localhost:10001/join/join" class="gnb-link"><span
                                    data-v-3a2c0d3c="">회원가입</span></a>
                                <!---->
                            </li>
                            <button data-v-f8be2a20="" type="button" class="btn btn-clear btn-none" onclick="location.href='http://localhost:10001/market/basket'" style="position: relative; padding-left: 10px;">
                                <img data-v-f8be2a20="" src="https://www.brandi.co.kr/static/22.07.04/images/header/ic-cart.svg" alt="알림" class="alarm-image" style="width: 27px;">
                                <small data-v-9e8436be="" class="count" style="position: absolute; min-width: 14px; height: 12px; padding: 0 4px; background-color: #00c7ae; border-radius: 50%; color: #fff; font-size: 8px; line-height: 12px; text-indent: 0; text-align: center; right: -1px; top: -2px; vertical-align: middle; line-height: 1.2;">2</small>
                            </button>
                        </ul>
                    </nav><button data-v-3a2c0d3c="" type="button"
                                  class="btn pro-signup-btn right-section-item btn-primary"><a data-v-3a2c0d3c=""
                                                                                               href="http://localhost:10001/join/joinpicker1" class="">고수가입</a></button>
                    <!---->
                </div>
            </div>
        </section>
    </div>
    <!---->
    <!---->
</header>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>


    let flag = true;

    $('.navMenu').click(function(){
        if(flag){
            $('.mobile-usermenu').removeAttr('transform');
        }
    })
</script>
</html>