
:root,
[data-theme=light] {
    --kt-input-color: #5E6278;
    --kt-dropdown-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
    --kt-dropdown-bg: #ffffff;
    --kt-primary-light: #212e48;
    --kt-primary-rgb: 0, 158, 247;
    --kt-primary: #009ef7;
    --kt-danger: #f1416c;
    --kt-danger-light: #fff5f8;
}

[data-theme=dark] {
    --kt-input-color: #92929F;
    --kt-code-bg: #2B2B40;
    --kt-code-box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
    --kt-code-color: #b93993;

}


.badge-light-primary {
    color: var(--kt-primary);
    background-color: var(--kt-primary-light);
}

.badge-light-danger {
    color: var(--kt-danger);
    background-color: var(--kt-danger-light);
}

