/****** admin 공통 CSS *******/

/* admin Font-Family */

/* 제목 폰트 _ 노토산스 한국어 */
@font-face {
    font-family: 'Noto Sans Korean';
    font-style: normal;
    font-weight: bold;
    src: url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.eot), url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype");
    src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.woff) format("woff"), url(//script.ebay.co.kr/fonts/NotoSansKR-Medium-Hestia.otf) format("opentype");
}

/*별별쓰담 로고 _ 한수원돋움체*/
@font-face {
    font-family: 'KHNPHD';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHD.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 기본 설정 */

@charset "UTF-8";

#sidebar_header{
    /*font-family: NanumBarunPen;*/
    font-family: Noto Sans Korean;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    background-color: #eee;
    overflow-x: hidden;
}

#wrapper {
    width: 100%;
    /*font-family: NanumBarunPen;*/
    font-family: Noto Sans Korean;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
    transition: .3s;
    background-color: transparent;
}

ul, li {
    list-style: none;
    padding: 0;
}

button{
    background: inherit;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer
}

input[type="checkbox"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    text-align: center;
    font-size: 13px;
}

body:not([data-kt-app-toolbar-fixed=true]) .app-toolbar {
    height: auto;
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
}
/* flex */

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.flex-column {
    flex-direction: column !important;
}

.overflow_hidden {
    overflow: hidden !important;
}

/* appPage */
.app_main {
    display: flex;
    width: 80%;
}
.app_wrapper {
    display: flex;
    margin-left: 240px;
    width: 100%;
}
.app_main_toolbar {
    height: auto;
    background-color: transparent;
    border-top: 0;
    border-bottom: 0;
    box-shadow: none;
}
.app_page {
    display: flex;
    width: inherit;
}

.app_header {
    position: absolute;
    left: 240px;
    right: 0;
    min-height: 50px;
    z-index: 1003;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%);
}

/* header */

.header_menu {
    display: flex;
    width: 100%;
}

.header_nav_bar {
    display: flex;
}

.header_nav_item_img {
    height: 22px;
    width: 22px;
}
.header_wrapper {
    position: fixed;
    height: 50px;
    left: 240px;
    right: 0;
    top: 0;
    background-color: #ffffff;
    z-index: 999;
}

.headerbar {
    display: flex;
    position: relative;
    height: 100%;
}

.headerbar-left {
    position: absolute;
}

.headerbar-right {
    position: fixed;
    right: 10px;
    padding: 4px 0;
}

.headerbar-left .header-nav {
    margin-left: 24px;
}

.header-nav > li {
    position: relative;
    display: block;
    float: left;
}

.header-nav > li:first-child {
    padding-left: 0;
}

.headerbar-right .header-nav {
    display: inline-block;
    margin: 0;
}

.headerbar-right .header-nav li {
    margin-left: 5px;
}

.header-nav li a {
    position: relative;
    display: block;
}
/* sidebar CSS */

.app_sidebar_wrapper {
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgb(54, 59, 62);
    color: rgb(255, 255, 255);
    z-index: 999;
}

.app_sidebar_logo {
    position: relative;
    display: flex;
    height: 50px;
    border-bottom: 1px dashed #9D9DA6;
    padding-left: 15px;
    padding-right: 15px;
}

.app_sidebar_logo h1 {

    /* font-family: NanumSoMiCe; */
    font-family: 'KHNPHD';
}

.app_sidebar_log_img {
    padding-top: 10px;
}

.app_sidebar_toggle {
    position: absolute;
    right: 5px;
    top: 10px;
}

.app_sidebar_menu {
    margin-top: 10px;
}

.app_sidebar_menu_wrapper {
    height: calc(100vh - 130px);
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: auto;
}

.app_sidebar_menu_wrapper::-webkit-scrollbar {
    display: none;
}

.app_sidebar_menu_list {
    align-items: center;
}

.app_sidebar_menu_item {
    padding: 10px;
    display: flex;
    cursor: pointer;
    padding-left: 20px;
}

.sidebar_menu_icon {
    margin-right: 15px;
}

.sidebar_menu_title {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.sidebar_menu_arrow {
    display: flex;
    align-items: stretch;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-left: 5px;
    width: 9px;
    height: 9px;
    transform: rotateZ(0deg);
    transition: transform 0.3s ease;
}

.app_sidebar_footer {
    background-color: #00c7ae;
    padding: 10px;
    text-align: center;
}

.app_sidebar_submenu {
    display: none;
    color: #cccccc;
    background-color: #333;
    padding-left: 65px;
}

.app_sidebar_submenu_item {
    padding: 10px 0;
}


/* button */

.btn {
    border-radius: 2px;
    line-height: 1.846153846;
    padding: 6px 16px;
}

.btn {
    font-size: 13px;
    padding: 4px 20px;
    word-break: break-word;
    word-wrap: break-word;
    white-space: normal;
    margin-top: 3px;
}

.btn-danger {
    background-color: #00c7ae;
    border-color: #00c7ae;
    color: #fff;
}

.btn-secondary {
    background-color: rgb(54, 59, 62);
    border-color: rgb(54, 59, 62);
    color: #fff;
    text-align: center;
}


/* content */

#content {
    position: relative;
    width: 100%;
    left: 0;
    padding-top: 50px;
}

/* 기타 */

.alert__wrap {
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    display: grid;
    row-gap: 5px;
}

/* 내용 부분 CSS */

.dashboard_main .section-body {
    width: 100%;
    margin-top: 0;
    padding-left: 20px;
}

.section-body .col-sm-8, .section-body .col-md-8, .section-body .col-lg-8, .section-body .col-xs-9, .section-body .col-sm-9, .section-body .col-md-9, .section-body .col-lg-9, .section-body .col-xs-10, .section-body .col-sm-10, .section-body .col-md-10, .section-body .col-lg-10, .section-body .col-xs-11, .section-body .col-sm-11, .section-body .col-md-11, .section-body .col-lg-11, .section-body .col-xs-12, .section-body .col-sm-12, .section-body .col-md-12, .section-body .col-lg-12 {
    padding-left: 5px;
    padding-right: 5px;
}

.section-body:first-child {
    margin-top: 24px;
}