@charset "utf-8";

.clearfix:after,
.clearfix:before,
.nav.sub-menu ul:before {
    content: '';
    display: block;
    clear: both;
}

.bts,
.btb,
.btm,
.btl,
.fab {
    display: inline-block;
    font: normal normal normal 14px/1 "Black Tie";
    font-family: 'Black Tie' !important;
    font-size: inherit;
    vertical-align: -14.28571429%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.im-body-size-140 {
    font-size: 21px;
}

.margin-right-12 {
    margin-right: 12px;
}

.btl {
    font-weight: 200;
}

.bt-arrow-left:before {
    content: "";
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.doz_sys .im-order-header .im-order-title {
    margin-bottom: 24px;
}

.doz_sys .im-order-title {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: bold;
}

.im-body-size-140 {
    font-size: 21px;
}

.im-flex {
    display: flex;
}

.im-body-size {
    font-size: 15px;
}

.shop_mypage .tip-off {
    background: #fff;
}

.mypage .tip-off {
    padding: 20px;
}

.mypage .tip-off,
.im-order-detail-table,
.im-order-price {
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.1);
}

.im-order-header .tip-off {
    margin-bottom: 10px;
}

.im-order-header .tip-off>span:first-child {
    margin-right: 20px;
}

.opacity-70 {
    opacity: 0.7;
}

.im-order-header .tip-off>span>span:first-child {
    margin-right: 4px;
}

.text-bold {
    font-weight: 600 !important;
}

.mypage .tip-off,
.im-order-detail-table,
.im-order-price {
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.1);
}

.im-order-detail-table {
    margin-bottom: 48px;
    width: 100%;
}

.shop-table>thead>tr>th,
.shop-table>tbody>tr>td,
.mypage .shop-table>tbody>tr,
.shop-table>tbody>tr>td.img img,
.shop-table>tbody>tr>td+td,
.mypage .tip-off,
.mypage .shop-table img,
.im-order-detail-table,
.im-order-price,
.im-order-detail-table thead tr,
.im-order-detail-table tr+tr,
.im-order-detail-table img,
.im-order-detail-table .im-deliv-price,
.im-order-price-header,
.im-order-price-body {
    border-color: rgb(100, 100, 100);
    border-color: rgba(100, 100, 100, 0.1);
}

.im-order-detail-table thead tr {
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
}

.im-order-detail-table th {
    padding: 10px 20px;
}

.im-order-detail-table th:last-child,
.im-order-detail-table td:last-child {
    width: 324px;
    padding-left: 40px;
}

.im-body-line-height {
    line-height: 1.6;
}

.im-order-detail-table td {
    padding: 16px 20px;
}

.im-order-detail-table .im-deliv-price {
    width: 133px;
    text-align: center;
    border-left: 1px solid rgba(33, 33, 33, 0.1);
    border-right: 1px solid rgba(33, 33, 33, 0.1);
}

.im-inline-flex {
    display: inline-flex;
}

.im-flex-col-reverse {
    flex-direction: column-reverse;
}

.im-body-size {
    font-size: 15px;
}

.cart-btn-tools {
    margin: -2.5px;
}

.im-order-detail-table tr+tr {
    border-top: 1px solid rgba(33, 33, 33, 0.1);
}

.im-body-size-120 {
    font-size: 18px;
}

.doz_sys .im-order-title {
    display: inline-block;
    line-height: 1.2;
    margin-bottom: 16px;
    font-weight: bold;
}

.mypage .tip-off,
.im-order-price {
    margin-bottom: 40px;
}

.mypage .tip-off,
.im-order-detail-table,
.im-order-price {
    background-color: #fff;
    border: 1px solid rgba(33, 33, 33, 0.1);
}

.mypage .tip-off {
    padding: 20px;
}

.shop_mypage .tip-off {
    background: #fff;
}

.im-body-line-height {
    line-height: 1.6;
}

.im-body-size {
    font-size: 15px;
}

.im-label {
    width: 80px;
    flex-shrink: 0;
    margin-right: 20px;
    opacity: 0.7;
}

.tip-off .im-flex+.im-flex,
.im-order-price-body .im-flex+.im-flex {
    margin-top: 12px;
}

.mypage .tip-off,
.im-order-price {
    margin-bottom: 40px;
}

.im-flex {
    display: flex;
}

.im-flex-col {
    flex-direction: column;
}

.im-flex-1 {
    flex: 1 1 0;
}

.im-justify-between {
    justify-content: space-between;
}

.im-line-height-120 {
    line-height: 1.2;
}

.im-order-price-header,
.im-order-price-body {
    padding: 16px 20px;
}

.im-order-price-header {
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
    font-weight: bold;
    position: relative;
    align-items: center;
}

.im-body-line-height {
    line-height: 1.6;
}

.im-order-row:first-child .im-order-price-body {
    border-left: none;
}

.im-body-size-95 {
    font-size: 14.25px;
}

.im-icon.im-ico-under {
    opacity: 0.3;
    transform: scale(0.5);
}