<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>줍깅 설명</title>
    <link data-vue-meta="1" rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&amp;display=swap">
    <link rel="stylesheet" href="/css/jubgging/css68.css">
    <link rel="stylesheet" href="/css/jubgging/css69.css">
    <link rel="stylesheet" href="/css/jubgging/css257.css">
    <link rel="stylesheet" href="/css/jubgging/css75.css">
    <link rel="stylesheet" href="/css/jubgging/css76.css">
</head>

<body>
<div id="app-body">
    <div data-v-593ade4e="" class="pro">
        <div data-v-593ade4e="" class="hero-image-container">
            <div data-v-593ade4e="" class="container container">
                <h1 data-v-593ade4e="">환경과 건강 동시에 챙기고<br data-v-593ade4e=""> 메달을 받아보세요!</h1>
            </div>
        </div>
        <div data-v-593ade4e="" class="category-container">
            <div data-v-593ade4e="" class="category1-box-container container">
                <div data-v-593ade4e="" class="category1-box">
                    <h3 data-v-593ade4e="">코스를 선택하세요</h3>
                    <ul data-v-7d45c639="" data-v-593ade4e="" class="category1-buttons list-inline flex">
                        <li data-v-7d45c639="" class="category"><a data-v-7d45c639="" href="/pro/welcome/레슨"
                                                                   class="">
                            <div data-v-7d45c639="" class="category-icon"><img data-v-7d45c639=""
                                                                               src="https://assets.cdn.soomgo.com/icons/category1/lesson.svg" alt="레슨">
                                <p data-v-7d45c639="" class="category-title p2">1코스</p>
                            </div>
                        </a></li>
                        <li data-v-7d45c639="" class="category"><a data-v-7d45c639="" href="/pro/welcome/홈-리빙"
                                                                   class="">
                            <div data-v-7d45c639="" class="category-icon"><img data-v-7d45c639=""
                                                                               src="https://assets.cdn.soomgo.com/icons/category1/home-living.svg"
                                                                               alt="홈/리빙">
                                <p data-v-7d45c639="" class="category-title p2">2코스</p>
                            </div>
                        </a></li>
                        <li data-v-7d45c639="" class="category"><a data-v-7d45c639="" href="/pro/welcome/이벤트"
                                                                   class="">
                            <div data-v-7d45c639="" class="category-icon"><img data-v-7d45c639=""
                                                                               src="https://assets.cdn.soomgo.com/icons/category1/event.svg" alt="이벤트">
                                <p data-v-7d45c639="" class="category-title p2">3코스</p>
                            </div>
                        </a></li>
                        <li data-v-7d45c639="" class="category"><a data-v-7d45c639="" href="/pro/welcome/비즈니스"
                                                                   class="">
                            <div data-v-7d45c639="" class="category-icon"><img data-v-7d45c639=""
                                                                               src="https://assets.cdn.soomgo.com/icons/category1/business.svg" alt="비즈니스">
                                <p data-v-7d45c639="" class="category-title p2">4코스</p>
                            </div>
                        </a></li>
                        <li data-v-7d45c639="" class="category"><a data-v-7d45c639="" href="/pro/welcome/디자인-개발"
                                                                   class="">
                            <div data-v-7d45c639="" class="category-icon"><img data-v-7d45c639=""
                                                                               src="https://assets.cdn.soomgo.com/icons/category1/design-development.svg"
                                                                               alt="디자인/개발">
                                <p data-v-7d45c639="" class="category-title p2">5코스</p>
                            </div>
                        </a></li>
                        <li data-v-7d45c639="" class="category"><a data-v-7d45c639="" href="/pro/welcome/건강-미용"
                                                                   class="">
                            <div data-v-7d45c639="" class="category-icon"><img data-v-7d45c639=""
                                                                               src="https://assets.cdn.soomgo.com/icons/category1/health-beauty.svg"
                                                                               alt="건강/미용">
                                <p data-v-7d45c639="" class="category-title p2">6코스</p>
                            </div>
                        </a></li>
                        <li data-v-7d45c639="" class="category"><a data-v-7d45c639="" href="/pro/welcome/알바"
                                                                   class="">
                            <div data-v-7d45c639="" class="category-icon"><img data-v-7d45c639=""
                                                                               src="https://assets.cdn.soomgo.com/icons/category1/part-time-job.svg"
                                                                               alt="알바">
                                <p data-v-7d45c639="" class="category-title p2">7코스</p>
                            </div>
                        </a></li>
                        <li data-v-7d45c639="" class="category"><a data-v-7d45c639="" href="/pro/welcome/기타"
                                                                   class="">
                            <div data-v-7d45c639="" class="category-icon"><img data-v-7d45c639=""
                                                                               src="https://assets.cdn.soomgo.com/icons/category1/etc.svg" alt="기타">
                                <p data-v-7d45c639="" class="category-title p2">SPECIAL</p>
                            </div>
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div data-v-6e7535bb="" data-v-593ade4e="" id="people">
            <div data-v-6e7535bb="" class="container">
                <div data-v-6e7535bb="" class="row">
                    <div data-v-6e7535bb="" class="col-12">
                        <h2 data-v-6e7535bb="">수많은 쓰레기들이
                            <!---->지구에 버려지고 있습니다</h2>
                        <p data-v-6e7535bb="" class="headline">우리 모두 함께 플로깅 합시다.
                            <!---->작은 실천이 지구를 바꿀 수 있습니다. </p>
                    </div>
                </div>
                <div data-v-6e7535bb="" class="row">
                    <div data-v-6e7535bb="" class="col-4">
                        <h3 data-v-6e7535bb="">8,000,000</h3>
                        <p data-v-6e7535bb="" class="label-count">매년 버려지는 플라스틱 양</p>
                    </div>
                    <div data-v-6e7535bb="" class="col-4">
                        <h3 data-v-6e7535bb="">160,000</h3>
                        <p data-v-6e7535bb="" class="label-count">1초에 비닐봉지 사용량</p>
                    </div>
                    <div data-v-6e7535bb="" class="col-4">
                        <h3 data-v-6e7535bb="">13,000,000</h3>
                        <p data-v-6e7535bb="" class="label-count">경제적 손실</p>
                    </div>
                </div>
            </div>
        </div>
        <div data-v-d92feee2="" data-v-593ade4e="" id="operation">
            <div data-v-d92feee2="" class="container">
                <div data-v-d92feee2="" class="row">
                    <div data-v-d92feee2="" class="col-12">
                        <h2 data-v-d92feee2="">참가방법</h2>
                    </div>
                </div>
                <div data-v-d92feee2="" class="row">
                    <div data-v-d92feee2="" class="col-4">
                        <figure data-v-d92feee2="" class="num"><img data-v-d92feee2=""
                                                                    src="https://static.cdn.soomgo.com/static/img/home/safety_num_1.png" alt="">
                            <h3 data-v-d92feee2="">플로깅에 대해 알아보세요</h3>
                            <figcaption data-v-d92feee2=""> 고객이 필요한 서비스의 요청서를 작성하면 숨고가 검토 후 고수님께 무료로 보내드려요.
                            </figcaption>
                        </figure>
                    </div>
                    <div data-v-d92feee2="" class="col-4">
                        <figure data-v-d92feee2="" class="num"><img data-v-d92feee2=""
                                                                    src="https://static.cdn.soomgo.com/static/img/home/safety_num_2.png" alt="">
                            <h3 data-v-d92feee2="">참가 신청을 클릭하세요</h3>
                            <figcaption data-v-d92feee2=""> 요청서 확인 후 간단히 견적금액만 입력하면 프로필과 함께 고객에게 메시지로 전송돼요.
                            </figcaption>
                        </figure>
                    </div>
                    <div data-v-d92feee2="" class="col-4">
                        <figure data-v-d92feee2="" class="num"><img data-v-d92feee2=""
                                                                    src="https://static.cdn.soomgo.com/static/img/home/safety_num_3.png" alt="">
                            <h3 data-v-d92feee2="">플로깅을 시작하세요</h3>
                            <figcaption data-v-d92feee2=""> 줍깅을 할때는 쓰레기를 담을 가방과 장갑을 꼭 챙겨주세요. </figcaption>
                        </figure>
                    </div>
                    <div data-v-d92feee2="" class="col-12"><a data-v-d92feee2="" href="/how-soomgo-works"
                                                              class="btn btn-primary btn-lg" target="_self">시작하기</a></div>
                </div>
            </div>
        </div>
        <div data-v-2cebe516="" data-v-593ade4e="" id="testimonial">
            <div data-v-2cebe516="" class="container">
                <div data-v-2cebe516="" class="row">
                    <div data-v-2cebe516="" class="col-12">
                        <h2 data-v-2cebe516="">코스 소개</h2>
                    </div>
                </div>
                <div data-v-167a957e="" data-v-2cebe516="" class="testimonial-summary-list-comp">
                    <div data-v-10780fa0="" data-v-167a957e=""
                         class="summary-list slick-initialized slick-slider slick-dotted"><button
                            class="slick-prev slick-arrow" aria-label="Previous" type="button"
                            style="">Previous</button>
                        <div class="slick-list draggable">
                            <img src="/images/jubgging/course1.jpg" alt="">
                            <!-- <div class="slick-track"
                                style="opacity: 1; width: 8730px; transform: translate3d(-970px, 0px, 0px);">
                                <div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true"
                                    style="width: 970px;">
                                    <div>
                                        <div data-v-167a957e="" class="col-sm-12"
                                            style="width: 100%; display: inline-block;">
                                            <div data-v-01f026ba="" data-v-167a957e=""
                                                class="s-card testimonial-summary">
                                                <div data-v-01f026ba="" class="row">
                                                    <div data-v-01f026ba="" data-name="provider"
                                                        style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/testimonial/7138-437.jpg&quot;);">
                                                        <div data-v-01f026ba="" data-name="provider-info"
                                                            class="hidden-xs">
                                                            <h2 data-v-01f026ba="">바느질/재봉틀 레슨</h2>
                                                            <h3 data-v-01f026ba="">박현주</h3>
                                                        </div>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="provider-info"
                                                        class="visible-xs">
                                                        <h2 data-v-01f026ba="">바느질/재봉틀 레슨</h2>
                                                        <h3 data-v-01f026ba="">박현주</h3>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="content"
                                                        class="col-xs-12 col-sm-10">
                                                        <p data-v-01f026ba="">처음 숨고 시작했을 때보다 요청 양이 많이 늘어난 것 같아요. 계속
                                                            이렇게 숨고가 번창해서 요청이 늘어난다면 회사를 그만두고 이 쪽에 전념해야 하나 고민될 정도에요!
                                                        </p>
                                                    </div><a data-v-01f026ba="" class="view-more">더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide slick-current slick-active" data-slick-index="0"
                                    aria-hidden="false" style="width: 970px;">
                                    <div>
                                        <div data-v-167a957e="" class="col-sm-12"
                                            style="width: 100%; display: inline-block;">
                                            <div data-v-01f026ba="" data-v-167a957e=""
                                                class="s-card testimonial-summary">
                                                <div data-v-01f026ba="" class="row">
                                                    <div data-v-01f026ba="" data-name="provider"
                                                        style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/testimonial/8730-10.jpg&quot;);">
                                                        <div data-v-01f026ba="" data-name="provider-info"
                                                            class="hidden-xs">
                                                            <h2 data-v-01f026ba="">드럼 레슨</h2>
                                                            <h3 data-v-01f026ba="">김정욱</h3>
                                                        </div>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="provider-info"
                                                        class="visible-xs">
                                                        <h2 data-v-01f026ba="">드럼 레슨</h2>
                                                        <h3 data-v-01f026ba="">김정욱</h3>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="content"
                                                        class="col-xs-12 col-sm-10">
                                                        <p data-v-01f026ba="">예전에 학원에서는 수수료 50%를 떼이는 게 너무 억울했었는데 숨고는
                                                            합리적이라 생각해요! 현재 37명 레슨 중인데, 그 중 대부분이 숨고로 알게 된 분들이에요. 주위
                                                            여러 친구들한테 숨고를 추천했어요.</p>
                                                    </div><a data-v-01f026ba="" class="view-more">더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="1" aria-hidden="true"
                                    style="width: 970px;">
                                    <div>
                                        <div data-v-167a957e="" class="col-sm-12"
                                            style="width: 100%; display: inline-block;">
                                            <div data-v-01f026ba="" data-v-167a957e=""
                                                class="s-card testimonial-summary">
                                                <div data-v-01f026ba="" class="row">
                                                    <div data-v-01f026ba="" data-name="provider"
                                                        style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/testimonial/3781-144.JPG&quot;);">
                                                        <div data-v-01f026ba="" data-name="provider-info"
                                                            class="hidden-xs">
                                                            <h2 data-v-01f026ba="">천연비누/화장품 레슨</h2>
                                                            <h3 data-v-01f026ba="">최윤선</h3>
                                                        </div>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="provider-info"
                                                        class="visible-xs">
                                                        <h2 data-v-01f026ba="">천연비누/화장품 레슨</h2>
                                                        <h3 data-v-01f026ba="">최윤선</h3>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="content"
                                                        class="col-xs-12 col-sm-10">
                                                        <p data-v-01f026ba="">정말 어려운 시기에 숨고가 돌파구를 마련해주었어요. 숨고는 이용법을
                                                            터득만 하면 많은 분들이 답을 주시더라고요. 진짜 중요한게 리뷰인 것 같아요. 저도 리뷰가 쌓이면서
                                                            도움이 많이 된 것 같아요. </p>
                                                    </div><a data-v-01f026ba="" class="view-more">더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="2" aria-hidden="true"
                                    style="width: 970px;">
                                    <div>
                                        <div data-v-167a957e="" class="col-sm-12"
                                            style="width: 100%; display: inline-block;">
                                            <div data-v-01f026ba="" data-v-167a957e=""
                                                class="s-card testimonial-summary">
                                                <div data-v-01f026ba="" class="row">
                                                    <div data-v-01f026ba="" data-name="provider"
                                                        style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/testimonial/70079-795.jpg&quot;);">
                                                        <div data-v-01f026ba="" data-name="provider-info"
                                                            class="hidden-xs">
                                                            <h2 data-v-01f026ba="">피부 관리</h2>
                                                            <h3 data-v-01f026ba="">신재오</h3>
                                                        </div>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="provider-info"
                                                        class="visible-xs">
                                                        <h2 data-v-01f026ba="">피부 관리</h2>
                                                        <h3 data-v-01f026ba="">신재오</h3>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="content"
                                                        class="col-xs-12 col-sm-10">
                                                        <p data-v-01f026ba="">저희 에스테틱 한달 평균 고객이 300명 정도 되는데, 숨고를
                                                            시작하면서 한 달에 10~15분이 더 늘었어요. 숨고로 방문하신 10분 중 7~8분은 회원으로
                                                            전환돼요. 실질적 수요자들이 많으신 것 같아요.</p>
                                                    </div><a data-v-01f026ba="" class="view-more">더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide" data-slick-index="3" aria-hidden="true"
                                    style="width: 970px;">
                                    <div>
                                        <div data-v-167a957e="" class="col-sm-12"
                                            style="width: 100%; display: inline-block;">
                                            <div data-v-01f026ba="" data-v-167a957e=""
                                                class="s-card testimonial-summary">
                                                <div data-v-01f026ba="" class="row">
                                                    <div data-v-01f026ba="" data-name="provider"
                                                        style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/testimonial/7138-437.jpg&quot;);">
                                                        <div data-v-01f026ba="" data-name="provider-info"
                                                            class="hidden-xs">
                                                            <h2 data-v-01f026ba="">바느질/재봉틀 레슨</h2>
                                                            <h3 data-v-01f026ba="">박현주</h3>
                                                        </div>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="provider-info"
                                                        class="visible-xs">
                                                        <h2 data-v-01f026ba="">바느질/재봉틀 레슨</h2>
                                                        <h3 data-v-01f026ba="">박현주</h3>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="content"
                                                        class="col-xs-12 col-sm-10">
                                                        <p data-v-01f026ba="">처음 숨고 시작했을 때보다 요청 양이 많이 늘어난 것 같아요. 계속
                                                            이렇게 숨고가 번창해서 요청이 늘어난다면 회사를 그만두고 이 쪽에 전념해야 하나 고민될 정도에요!
                                                        </p>
                                                    </div><a data-v-01f026ba="" class="view-more">더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide slick-cloned" data-slick-index="4" id="" aria-hidden="true"
                                    style="width: 970px;">
                                    <div>
                                        <div data-v-167a957e="" class="col-sm-12"
                                            style="width: 100%; display: inline-block;">
                                            <div data-v-01f026ba="" data-v-167a957e=""
                                                class="s-card testimonial-summary">
                                                <div data-v-01f026ba="" class="row">
                                                    <div data-v-01f026ba="" data-name="provider"
                                                        style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/testimonial/8730-10.jpg&quot;);">
                                                        <div data-v-01f026ba="" data-name="provider-info"
                                                            class="hidden-xs">
                                                            <h2 data-v-01f026ba="">드럼 레슨</h2>
                                                            <h3 data-v-01f026ba="">김정욱</h3>
                                                        </div>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="provider-info"
                                                        class="visible-xs">
                                                        <h2 data-v-01f026ba="">드럼 레슨</h2>
                                                        <h3 data-v-01f026ba="">김정욱</h3>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="content"
                                                        class="col-xs-12 col-sm-10">
                                                        <p data-v-01f026ba="">예전에 학원에서는 수수료 50%를 떼이는 게 너무 억울했었는데 숨고는
                                                            합리적이라 생각해요! 현재 37명 레슨 중인데, 그 중 대부분이 숨고로 알게 된 분들이에요. 주위
                                                            여러 친구들한테 숨고를 추천했어요.</p>
                                                    </div><a data-v-01f026ba="" class="view-more">더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide slick-cloned" data-slick-index="5" id="" aria-hidden="true"
                                    style="width: 970px;">
                                    <div>
                                        <div data-v-167a957e="" class="col-sm-12"
                                            style="width: 100%; display: inline-block;">
                                            <div data-v-01f026ba="" data-v-167a957e=""
                                                class="s-card testimonial-summary">
                                                <div data-v-01f026ba="" class="row">
                                                    <div data-v-01f026ba="" data-name="provider"
                                                        style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/testimonial/3781-144.JPG&quot;);">
                                                        <div data-v-01f026ba="" data-name="provider-info"
                                                            class="hidden-xs">
                                                            <h2 data-v-01f026ba="">천연비누/화장품 레슨</h2>
                                                            <h3 data-v-01f026ba="">최윤선</h3>
                                                        </div>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="provider-info"
                                                        class="visible-xs">
                                                        <h2 data-v-01f026ba="">천연비누/화장품 레슨</h2>
                                                        <h3 data-v-01f026ba="">최윤선</h3>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="content"
                                                        class="col-xs-12 col-sm-10">
                                                        <p data-v-01f026ba="">정말 어려운 시기에 숨고가 돌파구를 마련해주었어요. 숨고는 이용법을
                                                            터득만 하면 많은 분들이 답을 주시더라고요. 진짜 중요한게 리뷰인 것 같아요. 저도 리뷰가 쌓이면서
                                                            도움이 많이 된 것 같아요. </p>
                                                    </div><a data-v-01f026ba="" class="view-more">더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide slick-cloned" data-slick-index="6" id="" aria-hidden="true"
                                    style="width: 970px;">
                                    <div>
                                        <div data-v-167a957e="" class="col-sm-12"
                                            style="width: 100%; display: inline-block;">
                                            <div data-v-01f026ba="" data-v-167a957e=""
                                                class="s-card testimonial-summary">
                                                <div data-v-01f026ba="" class="row">
                                                    <div data-v-01f026ba="" data-name="provider"
                                                        style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/testimonial/70079-795.jpg&quot;);">
                                                        <div data-v-01f026ba="" data-name="provider-info"
                                                            class="hidden-xs">
                                                            <h2 data-v-01f026ba="">피부 관리</h2>
                                                            <h3 data-v-01f026ba="">신재오</h3>
                                                        </div>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="provider-info"
                                                        class="visible-xs">
                                                        <h2 data-v-01f026ba="">피부 관리</h2>
                                                        <h3 data-v-01f026ba="">신재오</h3>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="content"
                                                        class="col-xs-12 col-sm-10">
                                                        <p data-v-01f026ba="">저희 에스테틱 한달 평균 고객이 300명 정도 되는데, 숨고를
                                                            시작하면서 한 달에 10~15분이 더 늘었어요. 숨고로 방문하신 10분 중 7~8분은 회원으로
                                                            전환돼요. 실질적 수요자들이 많으신 것 같아요.</p>
                                                    </div><a data-v-01f026ba="" class="view-more">더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="slick-slide slick-cloned" data-slick-index="7" id="" aria-hidden="true"
                                    style="width: 970px;">
                                    <div>
                                        <div data-v-167a957e="" class="col-sm-12"
                                            style="width: 100%; display: inline-block;">
                                            <div data-v-01f026ba="" data-v-167a957e=""
                                                class="s-card testimonial-summary">
                                                <div data-v-01f026ba="" class="row">
                                                    <div data-v-01f026ba="" data-name="provider"
                                                        style="background-image: url(&quot;https://dmmj3ljielax6.cloudfront.net/upload/testimonial/7138-437.jpg&quot;);">
                                                        <div data-v-01f026ba="" data-name="provider-info"
                                                            class="hidden-xs">
                                                            <h2 data-v-01f026ba="">바느질/재봉틀 레슨</h2>
                                                            <h3 data-v-01f026ba="">박현주</h3>
                                                        </div>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="provider-info"
                                                        class="visible-xs">
                                                        <h2 data-v-01f026ba="">바느질/재봉틀 레슨</h2>
                                                        <h3 data-v-01f026ba="">박현주</h3>
                                                    </div>
                                                    <div data-v-01f026ba="" data-name="content"
                                                        class="col-xs-12 col-sm-10">
                                                        <p data-v-01f026ba="">처음 숨고 시작했을 때보다 요청 양이 많이 늘어난 것 같아요. 계속
                                                            이렇게 숨고가 번창해서 요청이 늘어난다면 회사를 그만두고 이 쪽에 전념해야 하나 고민될 정도에요!
                                                        </p>
                                                    </div><a data-v-01f026ba="" class="view-more">더보기</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        </div><button class="slick-next slick-arrow" aria-label="Next" type="button"
                                      style="">Next</button>
                    </div>
                    <div data-v-167a957e="" class="slick-navigation"><img data-v-167a957e=""
                                                                          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgNyAxMiI+CiAgICA8cGF0aCBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzRENEY1NiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9Ii44IiBkPSJNNiAxTDEgNmw1IDUiLz4KPC9zdmc+Cg=="
                                                                          class="angle-icon prev">
                        <div data-v-167a957e="" class="slick-dots-wrap">
                            <ul class="slick-dots" style="">
                                <li class="slick-active"><button type="button">1</button></li>
                                <li><button type="button">2</button></li>
                                <li><button type="button">3</button></li>
                                <li><button type="button">4</button></li>
                            </ul>
                        </div><img data-v-167a957e=""
                                   src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3IiBoZWlnaHQ9IjEyIiB2aWV3Qm94PSIwIDAgNyAxMiI+CiAgICA8cGF0aCBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIHN0cm9rZT0iIzRENEY1NiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9Ii44IiBkPSJNMSAxbDUgNS01IDUiLz4KPC9zdmc+Cg=="
                                   class="angle-icon next">
                    </div><a data-v-167a957e="" href="/pro/testimonial" target="_self"
                             class="btn btn-view-more btn-primary">후기 더보기</a>
                    <!---->
                </div>
            </div>
        </div>
        <div data-v-6408d60f="" data-v-593ade4e="" id="clip">
            <div data-v-6408d60f="" class="container">
                <div data-v-6408d60f="" class="row">
                    <div data-v-6408d60f="" class="clip-title col-12">
                        <h2 data-v-6408d60f="">줍깅 일러스트</h2>
                        <p data-v-6408d60f="" class="headline">별별쓰담</p>
                    </div>
                </div>
                <div data-v-2682acfc="" data-v-6408d60f="" class="row clip-row">
                    <div data-v-2682acfc="" class="clip-wrap lg">
                        <div data-v-2682acfc="" class="clip-bg clip-bg-04">
                            <!-- <img data-v-2682acfc=""
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAdVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////li2ZAAAAAJnRSTlMA7ZcssPkF4jwCrFQS08mHeDcgFIwrG+SnalgH+rOjbAry1XeLWkY1RF0AAAFTSURBVDjLlZXZkoJADEXTNIssCgoICIKznf//xClrGNka0fOcSvqmkxuZ4B+TYK8cR+2D5OjLGufYY4QXn8VEZDlwyEId1XWkw+wAjhXJglBBuZMRuxLURaa4FthaZmgbLFdG3K7QiYEOrrdRPhtPixHtYQ85LYqTrHAqsKTnArmskkOvKFJ08oQKlfaFbXlK8Ff81KDlKTnNXUJMKxu0xCK+x0422OH5cuQgmxw4SkImE2xDSzMSCQhlAh9f7mJiCGQ/1wx8zl+t2YsiXQRCO53ZFCUOtSEQ1fkyUOOsBYI1CzSXRlX+tLRRDLTpQkxAaFBtaE/C93YfM5LlF9on4xe+PhQSU8oGJfHdSJytwdU455dWwcb6X65qY7mil9a14ecNAxgsJV/J11vKyKQq8/u43t62vV7RhpEOpA9rdt2HNacrZl8wopiYvel8NI3hfPwCZkgln6gYShQAAAAASUVORK5CYII="
                                alt="재생"> -->
                            <!-- <h3 data-v-2682acfc=""> 포토그래퍼 <small data-v-2682acfc="">강휘원 고수</small></h3> -->
                        </div>
                    </div>
                    <div data-v-2682acfc="" class="clip-wrap">
                        <div data-v-2682acfc="" class="clip-bg clip-bg-05">
                            <!-- <img data-v-2682acfc=""
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAdVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////li2ZAAAAAJnRSTlMA7ZcssPkF4jwCrFQS08mHeDcgFIwrG+SnalgH+rOjbAry1XeLWkY1RF0AAAFTSURBVDjLlZXZkoJADEXTNIssCgoICIKznf//xClrGNka0fOcSvqmkxuZ4B+TYK8cR+2D5OjLGufYY4QXn8VEZDlwyEId1XWkw+wAjhXJglBBuZMRuxLURaa4FthaZmgbLFdG3K7QiYEOrrdRPhtPixHtYQ85LYqTrHAqsKTnArmskkOvKFJ08oQKlfaFbXlK8Ff81KDlKTnNXUJMKxu0xCK+x0422OH5cuQgmxw4SkImE2xDSzMSCQhlAh9f7mJiCGQ/1wx8zl+t2YsiXQRCO53ZFCUOtSEQ1fkyUOOsBYI1CzSXRlX+tLRRDLTpQkxAaFBtaE/C93YfM5LlF9on4xe+PhQSU8oGJfHdSJytwdU455dWwcb6X65qY7mil9a14ecNAxgsJV/J11vKyKQq8/u43t62vV7RhpEOpA9rdt2HNacrZl8wopiYvel8NI3hfPwCZkgln6gYShQAAAAASUVORK5CYII="
                                alt="재생"> -->
                            <!-- <h3 data-v-2682acfc=""> 이사 <small data-v-2682acfc="">박환준 고수</small></h3> -->
                        </div>
                    </div>
                    <div data-v-2682acfc="" class="clip-wrap">
                        <div data-v-2682acfc="" class="clip-bg clip-bg-06">
                            <!-- <img data-v-2682acfc=""
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAdVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////li2ZAAAAAJnRSTlMA7ZcssPkF4jwCrFQS08mHeDcgFIwrG+SnalgH+rOjbAry1XeLWkY1RF0AAAFTSURBVDjLlZXZkoJADEXTNIssCgoICIKznf//xClrGNka0fOcSvqmkxuZ4B+TYK8cR+2D5OjLGufYY4QXn8VEZDlwyEId1XWkw+wAjhXJglBBuZMRuxLURaa4FthaZmgbLFdG3K7QiYEOrrdRPhtPixHtYQ85LYqTrHAqsKTnArmskkOvKFJ08oQKlfaFbXlK8Ff81KDlKTnNXUJMKxu0xCK+x0422OH5cuQgmxw4SkImE2xDSzMSCQhlAh9f7mJiCGQ/1wx8zl+t2YsiXQRCO53ZFCUOtSEQ1fkyUOOsBYI1CzSXRlX+tLRRDLTpQkxAaFBtaE/C93YfM5LlF9on4xe+PhQSU8oGJfHdSJytwdU455dWwcb6X65qY7mil9a14ecNAxgsJV/J11vKyKQq8/u43t62vV7RhpEOpA9rdt2HNacrZl8wopiYvel8NI3hfPwCZkgln6gYShQAAAAASUVORK5CYII="
                                alt="재생"> -->
                            <!-- <h3 data-v-2682acfc=""> 웨딩플래너 <small data-v-2682acfc="">이성희 고수</small></h3> -->
                        </div>
                    </div>
                    <div data-v-2682acfc="" class="clip-wrap">
                        <div data-v-2682acfc="" class="clip-bg clip-bg-07">
                            <!-- <img data-v-2682acfc=""
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAdVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////li2ZAAAAAJnRSTlMA7ZcssPkF4jwCrFQS08mHeDcgFIwrG+SnalgH+rOjbAry1XeLWkY1RF0AAAFTSURBVDjLlZXZkoJADEXTNIssCgoICIKznf//xClrGNka0fOcSvqmkxuZ4B+TYK8cR+2D5OjLGufYY4QXn8VEZDlwyEId1XWkw+wAjhXJglBBuZMRuxLURaa4FthaZmgbLFdG3K7QiYEOrrdRPhtPixHtYQ85LYqTrHAqsKTnArmskkOvKFJ08oQKlfaFbXlK8Ff81KDlKTnNXUJMKxu0xCK+x0422OH5cuQgmxw4SkImE2xDSzMSCQhlAh9f7mJiCGQ/1wx8zl+t2YsiXQRCO53ZFCUOtSEQ1fkyUOOsBYI1CzSXRlX+tLRRDLTpQkxAaFBtaE/C93YfM5LlF9on4xe+PhQSU8oGJfHdSJytwdU455dWwcb6X65qY7mil9a14ecNAxgsJV/J11vKyKQq8/u43t62vV7RhpEOpA9rdt2HNacrZl8wopiYvel8NI3hfPwCZkgln6gYShQAAAAASUVORK5CYII="
                                alt="재생"> -->
                            <!-- <h3 data-v-2682acfc=""> 청소도우미 <small data-v-2682acfc="">이은혜 고수</small></h3> -->
                        </div>
                    </div>
                    <div data-v-2682acfc="" class="clip-wrap double-width">
                        <div data-v-2682acfc="" class="clip-bg clip-bg-09">
                            <!-- <img data-v-2682acfc=""
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAdVBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////li2ZAAAAAJnRSTlMA7ZcssPkF4jwCrFQS08mHeDcgFIwrG+SnalgH+rOjbAry1XeLWkY1RF0AAAFTSURBVDjLlZXZkoJADEXTNIssCgoICIKznf//xClrGNka0fOcSvqmkxuZ4B+TYK8cR+2D5OjLGufYY4QXn8VEZDlwyEId1XWkw+wAjhXJglBBuZMRuxLURaa4FthaZmgbLFdG3K7QiYEOrrdRPhtPixHtYQ85LYqTrHAqsKTnArmskkOvKFJ08oQKlfaFbXlK8Ff81KDlKTnNXUJMKxu0xCK+x0422OH5cuQgmxw4SkImE2xDSzMSCQhlAh9f7mJiCGQ/1wx8zl+t2YsiXQRCO53ZFCUOtSEQ1fkyUOOsBYI1CzSXRlX+tLRRDLTpQkxAaFBtaE/C93YfM5LlF9on4xe+PhQSU8oGJfHdSJytwdU455dWwcb6X65qY7mil9a14ecNAxgsJV/J11vKyKQq8/u43t62vV7RhpEOpA9rdt2HNacrZl8wopiYvel8NI3hfPwCZkgln6gYShQAAAAASUVORK5CYII="
                                alt="재생"> -->
                            <!-- <h3 data-v-2682acfc=""> 피아니스트 <small data-v-2682acfc="">윤다정 고수</small></h3> -->
                        </div>
                    </div>
                    <!---->
                </div>
            </div>
        </div>
    </div>
</div>

</body>

</html>

</body>
</html>